@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-12 landing-container">

    <div class="overlay"> </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 ">
            
                <h1>
                    Welcome To Vistor's Management System
                </h1>
                <p>
                   
                </p>
            <div>
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-primary btn-lg pr-4 pl-4">Continue</a>
            </div>

        </div>

    </div>
</div>
